{% extends "layout.html" %}

{% load bootstrap3 %}
{% load static %}

{% block extra_css %}
<link href="{% static "vendor/star-rating-svg/star-rating-svg.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "vendor/star-rating-svg/jquery.star-rating-svg.min.js" %}"></script>
{% endblock %}

{% block content %}
<div class="col-sm-6">
	<hr style="border: 4px solid #66cc99;"/>
	<form id="metric-form" method="POST" action=".">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input class="btn btn-lg btn-green" type="submit" value="submit">
	</form>
</div>
<div id="metric-list" class="col-sm-4 col-sm-push-2">
	<h2>Others</h2>
	<ul>
		{% for metric in metric_list %}
		<li>
			<a class="btn btn-purple btn-lg" href="{{ metric.get_absolute_url }}">
				<i class="fa fa-user"></i> {{ metric.title }}
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
