[program:gunicorn_{{ app_name }}]
command={{ venv_dir }}/bin/gunicorn  -c gunicorn.conf.py -p gunicorn.pid config.wsgi:application
directory={{ app_dir }}
user={{ deployer_user }}
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/home/{{ deployer_user }}/logs/{{ app_name }}/supervisor-error.log
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8